<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487024774159-el9me01uamieo3vpaoo96k7ifre17jtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487024774159-el9me01uamieo3vpaoo96k7ifre17jtm</string>
	<key>API_KEY</key>
	<string>AIzaSyC66PU-qRGs1piPbMq9yNcofUgm7mfXhcc</string>
	<key>GCM_SENDER_ID</key>
	<string>487024774159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brtyvz.FotografPaylasmaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasmauygulama-bb17e</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasmauygulama-bb17e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487024774159:ios:00fae0fb1b21c6c57d277a</string>
</dict>
</plist>